/* app/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white-off text-black font-sans text-body; /* Default styles */
  }

  h1 { @apply text-h1 uppercase; }
  h2 { @apply text-h2 uppercase; }
  h3 { @apply text-h3 uppercase; }
  h4 { @apply text-h4 uppercase; }
  h5 { @apply text-h5 uppercase; }
  h6 { @apply text-h6 uppercase; }
  p { @apply text-body; }

  .overline-text {
    @apply text-overline uppercase;
  }

  .subtitle-text {
    @apply text-sub uppercase;
  }

  /* Main page container */
  .container {
     /* 1110px max width + 48px padding (24px each side) = 1158px
        On smaller screens, it's full width with 24px padding
        Figma desktop width is 1440px. 1440 - 1110 = 330. 330/2 = 165px margin on each side.
        This container setup achieves that perfectly.
     */
    @apply w-full max-w-[1110px] mx-auto px-6 md:px-10 lg:px-0;
  }
}

.bg-hero-black {
    padding: 0 3rem;
}

.bg-black{
    padding: 0 3rem;
}


